@* Strong type views *@
@model List<NetBanking.Core.Application.ViewModel.CreditCard.CreditCardVM>

<div class="row align-content-center">
    <div class="col-8 offset-2">

        <div class="card">
            <div class="card-header bg-dark text-light">
                Tarjetas de Credito
                <div class="text-end">
                    <a class="btn btn-success float-end text-black" style="background-color: #f6eaff; color: white;" asp-controller="Admin" asp-action="CreateCreditCards">Nueva Tarjeta</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Numero de Tarjeta</th>
                            <th scope="col">Limite</th>
                            <th scope="col">Monto Disponible</th>
                            <th scope="col">Monto Adeudado</th>
                            <th scope="col">Eliminar Tarjeta</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.IdentifyingNumber</td>
                                <td>@item.Limit</td>
                                <td>@item.CurrentAmount</td>
                                <td>@item.Debt</td>


                                <td>
                                    @if (item.Debt == 0)
                                    {
                                        <a asp-controller="Admin" asp-action="DeleteCreditCards" asp-route-id="@item.Id" class="btn btn-danger">
                                            <i class="fa-solid fa-eraser"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" disabled data-bs-toggle="tooltip" data-bs-placement="top">
                                            <i class="fa-solid fa-eraser"></i>
                                        </button>

                                    }

                                </td>
                            
                       </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/47ea8ef61d.js" crossorigin="anonymous"></script>
    </div>
</div>

